<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="90%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Time to start workout!</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-select placeholder="Workouts">
                <mat-option value="crunches">
                    Crunches
                </mat-option>
                <mat-option value="sit-ups">
                    Sit ups
                </mat-option>
                <mat-option value="squats">
                    Squats
                </mat-option>
            </mat-select>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-stroked-button (click)="onStartTraining()">Start</button>
        </mat-card-actions>
    </mat-card>
</section>