<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex.xs="90%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Time to start workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-select placeholder="Choose exercise" ngModel name="exercise" required>
                    <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                        {{ exercise.name }}
                    </mat-option>
                </mat-select>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-stroked-button [disabled]="f.invalid">
                    Start
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>